#game_box{
    background-color:antiquewhite;
    height: 30rem;
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 20rem;
    width: 20rem;
    margin: 20px;
    border-radius: 25%;
    border: 5px solid black;   
}
#my{
    display: flex;
    flex-direction: column;
}
#control{
    text-align: center;
    height: 5rem;
}
h1{
    display:flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: #C8AAAA;
}